body {
	margin-top:50px;
    background-color: #e9ebee;
	font-family: 'Raleway', sans-serif;
	font-family: 'Lato', sans-serif;
}

.img-flex{
	width:100%;
}



.my-btn{
	transition: 0.2s;
	padding:40px;
	
	color:white;
	font-size:40px;
	border-radius: 15px;
	text-align:center;
	
}

.my-btn:hover{
	transition: 0.2s;
	background-color:#15E;
	color:white;
	
}

.blue{
	background-color:#09F;
}

.green{
	background-color:#0C0;
}


.my-box{
	transform: scale(7);
	/* padding:20px  */
	margin:50px !important;
	
}

.blocker{
	padding:40px;
	background-color:red;
}
